<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer-tablet-wrap">
      <div class="adress-list">
        <a href="../index.html" class="link footer-link">
          <svg class="footer-logo" width="123" height="16">
            <use href="../img/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>

        <a class="adress-list-tel" href="tel:+380665438912">+38 066 543 8912</a>
        <address class="adress-list-adress">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
      </div>
      <div class="footer-list-wrap">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a class="footer-soc-link" href="">instagram</a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link" href="">facebook</a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link" href="">youtube</a>
          </li>
        </ul>

        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#about-us">about us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#our-courses">our courses</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#our-mentors">our mentors</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#reviews">reviews</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#contacts">contacts</a>
          </li>
        </ul>
      </div>
      <form class="form-footer">
        <label for="useremail">
          <input
            class="footer-input"
            type="text"
            name="email"
            placeholder="Enter your email"
          />
        </label>
        <button class="footer-btn" type="submit">Go</button>
      </form>
    </div>
    <div class="footer-policy">
      <p class="footer-policy-text">
        Privacy Policy <br />
        Public Offering Agreement
      </p>
      <div class="footer-rights">
        <p class="footer-rights-text">2024 Focus Frame</p>
        <p class="footer-rights-text">&#169; All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
