<section class="mentors" id="our-mentors">
  <div class="container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-accent">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <div class="rotate-block">
          <div class="change-img">
            <div class="front-side-img">
              <picture>
                <!-- desctop -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/our-mentors/emilia-desc@1x.jpg 1x,
                    ../img/our-mentors/emilia-desc@2x.jpg 2x
                  "
                />
                <!-- tablet -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/our-mentors/emilia-tablet@1x.jpg 1x,
                    ../img/our-mentors/emilia-tablet@2x.jpg 2x
                  "
                />
                <!-- mob -->
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ../img/our-mentors/emilia-mob@1x.jpg 1x,
                    ../img/our-mentors/emilia-mob@2x.jpg 2x
                  "
                />
                <img
                  src="  ../img/our-mentors/emilia-mob@1x.jpg"
                  alt="Emilia"
                  class="mentors-img"
                  width="180"
                  height="180"
                />
              </picture>
            </div>
            <div class="back-side-img">
              <img
                src="../img/our-mentors/emilia-mob@1x.jpg"
                alt="Back Image"
                class="mentors-img"
                width="180"
                height="180"
              />
            </div>
          </div>
        </div>
        <p class="mentors-name">Emilia Smith</p>
        <p class="mentors-experience">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <div class="rotate-block">
          <div class="change-img">
            <div class="front-side-img">
              <picture>
                <!-- desctop -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/our-mentors/alex-desc@1x.jpg 1x,
                    ../img/our-mentors/alex-desc@2x.jpg 2x
                  "
                />
                <!-- tablet -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/our-mentors/alex-tablet@1x.jpg 1x,
                    ../img/our-mentors/alex-tablet@2x.jpg 2x
                  "
                />
                <!-- mob -->
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ../img/our-mentors/alex-mob@1x.jpg 1x,
                    ../img/our-mentors/alex-mob@2x.jpg 2x
                  "
                />
                <img
                  src="../img/our-mentors/alex-mob@1x.jpg"
                  alt="Alex"
                  class="mentors-img"
                  width="180"
                  height="180"
                />
              </picture>
            </div>

            <div class="back-side-img">
              <img
                src="../img/our-mentors/alex-mob@1x.jpg"
                alt="Back Image"
                class="mentors-img"
                width="180"
                height="180"
              />
            </div>
          </div>
        </div>
        <p class="mentors-name">Alex Lebedev</p>
        <p class="mentors-experience">3.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <div class="rotate-block">
          <div class="change-img">
            <div class="front-side-img">
              <picture>
                <!-- desctop -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/our-mentors/mia-desc@1x.jpg 1x,
                    ../img/our-mentors/mia-desc@2x.jpg 2x
                  "
                />
                <!-- tablet -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/our-mentors/mia-tablet@1x.jpg 1x,
                    ../img/our-mentors/mia-tablet@2x.jpg 2x
                  "
                />
                <!-- mob -->
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ../img/our-mentors/mia-mob@1x.jpg 1x,
                    ../img/our-mentors/mia-mob@2x.jpg 2x
                  "
                />
                <img
                  src="../img/our-mentors/mia-mob@1x.jpg"
                  alt="Mia"
                  class="mentors-img"
                  width="180"
                  height="180"
                />
              </picture>
            </div>
            <div class="back-side-img">
              <img
                src="../img/our-mentors/mia-mob@1x.jpg"
                alt="Back Image"
                class="mentors-img"
                width="180"
                height="180"
              />
            </div>
          </div>
        </div>
        <p class="mentors-name">Mia Dubrovska</p>
        <p class="mentors-experience">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <div class="rotate-block">
          <div class="change-img">
            <div class="front-side-img">
              <picture>
                <!-- desctop -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/our-mentors/eliot-desc@1x.jpg 1x,
                    ../img/our-mentors/eliot-desc@2x.jpg 2x
                  "
                />
                <!-- tablet -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/our-mentors/eliot-tablet@1x.jpg 1x,
                    ../img/our-mentors/eliot-tablet@2x.jpg 2x
                  "
                />
                <!-- mob -->
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ../img/our-mentors/eliot-mob@1x.jpg 1x,
                    ../img/our-mentors/eliot-mob@2x.jpg 2x
                  "
                />
                <img
                  src="../img/our-mentors/eliot-mob@1x.jpg"
                  alt="Eliot"
                  class="mentors-img"
                  width="180"
                  height="180"
                />
              </picture>
            </div>
            <div class="back-side-img">
              <img
                src="../img/our-mentors/eliot-mob@1x.jpg"
                alt="Back Image"
                class="mentors-img"
                width="180"
                height="180"
              />
            </div>
          </div>
        </div>
        <p class="mentors-name">Eliot Kovalev</p>
        <p class="mentors-experience">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
